@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "scroll-arrow.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  margin: 0%;
}

section {
  padding: 0% 5% 0% 5%;
  display: flex;
  background-color: rgb(65, 65, 65);
  flex-flow: column;
  align-items: center;
}

iframe {
  margin: 5px;
  border-radius: 15px;
  transition: 0.5s;
  border: 0px;
}

iframe:hover {
  width: 220px;
  transition: 0.3s;
}

#s1 {
  background: linear-gradient(150deg, #db759c, #9ba3eb, #e5e497);
}

#title {
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 72px;
  color: rgb(255, 255, 255);
}

.song,
#info {
  max-height: 90px; /*max height 90px not to display hidden content*/
  margin: 5% 1% 1% 1%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  width: 100%;
  justify-content: space-between;
  box-shadow: 5px 10px #00000010;
  overflow: hidden;
  transition: 0.5s;
}

.song:hover {
  max-height: 1000px; /*fit any content until 1000px*/
  transition: max-height 0.5s ease-in-out; /*smooth display*/
  box-shadow: 10px 15px #00000010;
  transition-delay: 0.2s;
}

.song:hover .hidden-info {
  opacity: 1;
  height: auto;
  visibility: visible;
  transition: 2s; /*2s for to get opacity equal 1*/
  transition-delay: 0.2s;
}

div .hidden-info {
  opacity: 0;
  visibility: hidden;
  border-radius: 20px;
  background: linear-gradient(150deg, #fc7faf, #e9e778);
  padding: 20px;
  transition: opacity 0.5s;
}

.row-div {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 32px;
}

#subtitle {
  text-align: center;
}

h2 {
  padding-left: 1%;
  padding-right: 1%;
}

#info {
  display: flex;
  border-top: 1px solid white;
  border-left: 1px solid white;
  background: rgba(187, 187, 187, 0.39);
  color: rgb(20, 20, 20);
}

@media (max-width: 950px) {
  /*remove hover effect */
  iframe:hover {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 750px) {
  h2 {
    font-size: 3vw;
  }
}
