@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: 0%; /*fullscreen section*/
    background-color: rgb(255, 255, 255);
  }

.album-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(rgba(90, 90, 90, 0.24),rgba(90, 90, 90, 0.2));
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.s2 .album-container{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-left: #ccc;
}

img{
    border-radius: 5%;
}

/*album's name*/
.desc{
    color: white;
    text-align: center;
}

/*desc for odd sections*/
.desc-odd{
    max-width: 600px;
    padding: 0px 15px 0px 15px;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.h1-odd{
    text-align: right;
    font-size: 64px;
    color: aliceblue;
}

.p-odd{
    text-align: right;
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
}

.desc-even{
    max-width: 600px;
    padding: 0px 15px 0px 15px;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.h1-even{
    text-align: left;
    font-size: 64px;
    color: aliceblue;
}

.p-even{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
}

.circle-layer-red-s1{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(20% at left 60%);
    position: absolute;
    z-index: 0 ;
}

.circle-layer-blue-s2{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(29, 44, 255),rgb(0, 255, 242));
    clip-path: circle(20% at right 60%);
    position: absolute;
    z-index: 0 ;
}

.gallery{
    position: relative;
}

.gallery:hover .hover-desc{
    visibility: visible;
    opacity: 1;
}

.hover-desc{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 7px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  border-top: 1px solid rgba(255, 255, 255, 0.288);
  border-left: 1px solid rgba(255, 255, 255, 0.281);
}

.gallery:hover .blur-image {
    opacity: 0.4;
    filter: blur(2px);
    transition: .5s ease;
  }

hr{
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    border-width: 5px;
    width: 50%;
    border-radius: 20px;
}

.responsive{
    margin: 3px;
}

/*sections identities*/
section{
    padding: 5% 0% 5% 0%;
    display: flex;
    justify-content: space-around;
    z-index: 0;
}

.s1{ 
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(51,47,101,1) 56%, rgb(201, 23, 255) 100%);
}

.s2{
    flex-direction: row-reverse;
    background: rgb(38,26,173);
    background: linear-gradient(0deg, rgba(38,26,173,1) 0%, rgba(51,47,101,1) 56%, rgba(0,0,0,1) 100%);
}

.s3{
    background: rgb(38,26,173);
    background: linear-gradient(0deg,  rgba(0,0,0,1) 0%, rgba(51,47,101,1) 56%, rgba(38,26,173,1) 100%);
}

/*responsive*/
@media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
