@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "scroll.css";

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section{
    padding: 0% 5% 5% 5%;
    display: flex;
    background-color: rgb(65, 65, 65);
    flex-flow: column;
    align-items: center;
}
#s1{
    background: linear-gradient(150deg,#e69898, #2838ec);
}

#s2{
    background: linear-gradient(210deg,#2ac0c0, #2c2c2c);
}

#s3{
    background: linear-gradient(210deg,#2c2c2c, #eee064);
}

/*gradient title*/
#str{
    font-size: larger;
    background: -webkit-linear-gradient(200deg,#4234ff, #020957);
    background-clip: border-box; /*determine background area*/
    -webkit-background-clip: text; /*select only text area*/
    -webkit-text-fill-color: transparent; /*fill color*/
}

#title{
    text-align: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    font-size: 32px;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.circle-layer-s1{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#e69898,rgb(38, 0, 255));
    clip-path: circle(13% at 85% 65%);
    position: absolute;
    z-index: 0 ;
}

.color-word{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    color: #2838ec;
}

h1{
    text-align: center;
    font-size: 72px;
    color: rgb(255, 255, 255);
}

p.scroll{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    font-size: 32px;
    color: rgb(255, 255, 255);
    color: #020957; 
}

/*--section 2--*/

#s2 #div-odd, #div-even, #s3 #div-odd, #div-even{
    margin-top: 5%;
    padding: 2%;
    align-self: flex-start; /*only this div is on the left*/
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

#s2 #div-even, #s3 #div-even{
    align-self: flex-end;
}

.align-img-txt{
    display: flex;
}
